html,
body {
  max-width: 100vw;
  margin: 0;
  padding: 0;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
main{
  margin-top: 66px;
  height: 100%;
}

hr{
  margin: 0;
  padding: 0;
  font-weight: 100;
  width: 80%;
  align-self: center;
  justify-self: center;
}