# This workflow will do a clean installation of node dependencies, cache/restore them, build the source code and run tests across different versions of node
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-nodejs

name: CI-PyCraf

on:
  push:
    branches: [ "main"]
    
  pull_request:
    branches: ["main"]
concurrency:
  group: ci-${{github.ref}}
  cancel-in-progress: true

jobs:
  backend:
    name: Backend
    runs-on: ubuntu-latest
    services:
      postgres:
        image: postgres:16-alpine
        ports:
          - "5432:5432"
        env:
          POSTGRES_USER: postgres
          POSTGRES_PASSWORD: "123"
          POSTGRES_DB: pycraft_dev
        options: >-
          --health-cmd="pg_isready -U postgres"
          --health-interval=10s
          --health-timeout=5s
          --health-retries=5
    defaults:
      run:
        working-directory: ./backend
    env:
      DATABASE_URL: postgresql://postgres:123@localhost:5432/pycraft_dev?schema=public

    steps:
      - uses: actions/checkout@v5

      - name: Setup Node
        uses: actions/setup-node@v5
        with:
          node-version: '20.x'
          

      - name: Install Dependencies
        run: npm install
      - name: Generate Prisma Client
        run: npx prisma generate
      - name: Apply Prisma Migrations
        run: npx prisma migrate deploy
      - name: Run Eslint
        run: npm run lint
      - name: Run test
        run: npm test
  frontend:
    name: Frontend
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./frontend

    steps:
      - uses: actions/checkout@v5

      - name: Setup Node
        uses: actions/setup-node@v5
        with:
          node-version: '20.x'
          

      - name: Install Dependencies
        run: npm install  
      - name: Run Eslint
        run: npm run lint
      
